@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 70% 5%;
    --foreground: 0 0% 100%;

    --card: 220 70% 5%;
    --card-foreground: 0 0% 100%;

    --popover: 220 70% 5%;
    --popover-foreground: 0 0% 100%;

    --primary: 217 100% 34%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 13% 50%;
    --secondary-foreground: 0 0% 100%;

    --muted: 220 13% 20%;
    --muted-foreground: 220 13% 70%;

    --accent: 220 13% 20%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 220 100% 34%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

