@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 76% 5%;
    --foreground: 0 0% 100%;
    --card: 224 76% 5%;
    --card-foreground: 0 0% 100%;
    --popover: 224 76% 5%;
    --popover-foreground: 0 0% 100%;
    --primary: 224.3 76.3% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 13% 50%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 13% 20%;
    --muted-foreground: 220 13% 70%;
    --accent: 220 13% 20%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13% 20%;
    --input: 220 13% 20%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .text-outline-blue {
    color: #ffffff; /* Blanco para el color interno */
    text-shadow: 
      -2px -2px 0 #7f7f7f, /* Gris claro para el contorno */
      2px -2px 0 #7f7f7f, 
      -2px 2px 0 #7f7f7f, 
      2px 2px 0 #7f7f7f,
      -2px 0 0 #7f7f7f, 
      2px 0 0 #7f7f7f, 
      0 -2px 0 #7f7f7f, 
      0 2px 0 #7f7f7f,
      3px 3px 0 rgba(19, 23, 34, 0.8); /* Sombra azul más definida para profundidad */
    font-weight: bold; /* Negrita */
    letter-spacing: 0.08em; /* Espaciado entre letras */
  }
}


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}